@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 520px;
  width: 340px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-code {
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  color: hsl(218, 44%, 22%);
}

p {
  margin: 0;
  padding: 0;
  padding-right: 10%;
  padding-left: 10%;
  color: hsl(220, 15%, 55%);
}
